#login-container {
  height: 100vh !important;
}

#loader-container {
  height: 80vh !important;
}

.spinner-border {
  width: 100px !important;
  height: 100px !important;
}

tr {
  font-size: 14px !important;
}

@media (max-width: 1199px) {
  .toggle-sidebar-btn {
    display: block !important;
  }

  table {
    width: 850px !important;
  }
}